div {
    border: 2px solid rgb(21, 63, 189);
    padding-top: 20px;
    padding-bottom: 20px;
    h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
    }
    #a1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
    }
    #b1 {
        font-family: 'Times New Roman', Times, serif;
        margin-left: 25px;
        font-size: 16px;
    }
    #c1 {
        font-family: 'Times New Roman', Times, serif;
        margin-left: 25px;
        font-size: 16px;
    }
}