<header>
    <h1>Control Académico</h1>
</header>
<header>
    <div class="bd-example">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="" id="al">Inicio</a>
            </li>
            <li class="nav-item" routerLink="active">
                <a class="nav-link" [routerLink]="['/form-curso']" id="bl">Cursos</a>
            </li>
            <li class="nav-item" routerLink="active">
                <a class="nav-link" [routerLink]="['/materias']" id="cl">Materias</a>
            </li>
        </ul>
    </div>
</header>